{%for repo in repos%}
                <div class="flex flex-col justify-between bg-base-300 rounded-sm p-3 m-4 w-72 h-50 border-1 border-accent">
                    <div class="flex flex-row items-center content-center justify-between">
                        <p class="text-lg text-accent font-bold underline underline-offset-6 decoration-3 text-left">
                            {{repo.name}}
                        </p>
                        {%if repo.language%}
                        <p class="text-xs bg-accent text-accent-content rounded-sm p-1 text-right">
                            <i class="ri-hashtag"></i>{{repo.language}}
                        </p>
                        {%endif%}
                    </div>
                    {%if repo.description%}
                    <div class="text-sm text-current/75 text-left">
                        {{repo.description}}
                    </div>
                    {%endif%}
                    <div>
                        <hr class="text-current/25">
                        <div class="flex flex-row items-center content-center justify-between">
                            <div class="flex flex-row items-center content-center justify-center">
                                <span title="Stars" class="text-current/40 mx-1"><i class="ri-star-line text-accent"></i>{{repo.stargazers_count}}</span>
                                <span title="Forks" class="text-current/40 mx-1"><i class="ri-git-fork-line text-accent"></i>{{repo.forks_count}}</span>
                                <span title="Watchers" class="text-current/40 mx-1"><i class="ri-eye-line text-accent"></i>{{repo.watchers_count}}</span>
                            </div>
                            <div class="flex flex-row items-center content-center justify-center">
                                <a href="{{repo.html_url}}" target="_blank" class="mx-1"><i class="ri-github-line text-accent hover:text-accent/75 duration-200 ease-in-out"></i></a>
                                {%if repo.homepage%}
                                <a href="{{repo.homepage}}" target="_blank" class="mx-1"><i class="ri-external-link-line text-accent hover:text-accent/75 duration-200 ease-in-out"></i></a>
                                {%endif%}
                            </div>
                        </div>
                    </div>                    
                </div>
{%endfor%}