<contact id="contact" class="flex flex-col w-1/2 m-auto font-mono">
    <div class="items-center content-center">
        <h1 class="text-3xl text-center text-accent">
            Contact me
        </h1>
        <p class="text-center">
            Everybody is more than invited to contact me at my networks, invitations for projects, job opportunities, suggest improvements etc. I'm always open to new opportunities and connections.
        </p>
        {%include 'components/snippets/socials.html'%}
    </div>
</contact>