<projects id="projects" class="flex flex-col m-auto w-19/20 h-full font-mono sm:overflow-auto">
    <div class="items-center content-center justify-center text-center h-1 mt-15">
        <div class="w-1/2 m-auto">
            <h1 class="text-3xl text-accent">
                Projects
            </h1>
            <p>
                Here's some projects i was working on.
                Take a visit to the real ones! Give me your follow and leave a star at the repos you like!
            </p>
        </div>
        <div class="m-auto w-9/10 flex flex-row items-center content-center">
            {%include 'components/snippets/project-list.html'%}
        </div>        
    </div>
</projects>
