<skills id="skills" class="flex flex-col m-auto w-19/20 h-full font-mono overflow-auto">
    <div class="items-center content-center justify-center text-center h-1 mt-15">
        <div class="w-1/2 m-auto">
            <h1 class="text-3xl text-accent">
                Skills
            </h1>
            <p>
                Here's some of the technlogies and tools i used in my projects. I am always learning and improving my skills, so this list may change over time.
            </p>
            <p class="text-xs text-current/75">
            <span class="text-current/25">(</span>    Icons by <span class="text-accent/75"><a href="https://skillicons.dev">SkillIcons</a></span><span class="text-current/25"> )</span>
            </p>
        </div>
        <div class="mx-auto my-5 w-9/10 flex flex-row flex-wrap">
            {% include "components/snippets/skill-list.html" %}
        </div>       
    </div>
</skills>