<themes id="themes" class="flex flex-col w-1/2 m-auto font-mono">
    <div class="items-center content-center">
        <p class="text-4xl text-accent">
            Try out some themes!
        </p>
        <p class="text-current/50">
            ( or get back to your <input
            type="radio"
            name="theme-buttons"
            class="btn btn-xs theme-controller join-item"
            aria-label="browser's default"
            value="default" /> theme.🤷🏾‍♂️ )
        </p>
    </div>
    <div class="flex flex-row justify-between text-sm">
        <div class="flex flex-col">
            <div class="text-center text-sm">
                light themes
            </div>
            {%include 'components/themes/light-themes.html'%}
        </div>
        <div class="flex flex-col">
            <div class="text-center text-sm">
                light<span class="text-current/50">(-ish)</span> themes
            </div>
            {%include 'components/themes/light-ish-themes.html'%}
        </div>
        <div class="flex flex-col">
            <div class="text-center text-sm">
                dark<span class="text-current/50">(-ish)</span> themes
            </div>
            {%include 'components/themes/dark-ish-themes.html'%} 
        </div>
        <div class="flex flex-col">
            <div class="text-center text-sm">
                dark themes
            </div>
            {%include 'components/themes/dark-themes.html'%} 
        </div>
    </div>
</themes>