<footer class="flex flex-row justify-between content-center align-center rounded-b-md bg-base-200">
<footerstart class="ml-3 hover:bg-base-100 text-sm items-center content-center">
    <a href="https://github.com/jpsilveira11/a_django_portfolio" target="_blank"><i class="ri-git-branch-line"></i> main</a>
</footerstart>
<footerend class="mr-3 items-center content-center">
    © 2025 {{profile.name}} / <span class="hover:text-accent duration-200 ease-in-out"><a href="{{profile.profile_url}}" target="_blank"><i class="ri-github-fill"></i></a></span> & <span class="hover:text-accent duration-200 ease-in-out"><a href="{{contacts.1.url}}" target="_blank"><i class="ri-linkedin-box-fill"></i></a></span> 
</footerend>
</footer>