<nav class="flex flex-row justify-between h-6">
  <navstart class="navbar-start ml-1">
      <fkbtn class="w-3 h-3 mx-1 bg-red-300 rounded-full cursor-pointer"></fkbtn>
      <fkbtn class="w-3 h-3 mx-1 bg-yellow-300 rounded-full cursor-pointer"></fkbtn>
      <fkbtn class="w-3 h-3 mx-1 bg-green-300 rounded-full cursor-pointer"></fkbtn>
  </navstart>
  <navcenter class="navbar-center">
   <h1>My<span class="text-secondary"> (Brand New!) </span>Humble Portfolio!</h1>
  </navcenter>
  <navend class="navbar-end mr-1">
  </navend> 
</nav>