<nav class="flex flex-col justify-between w-1/20 text-center text-3xl">
    <top>
        <div class="sidebar-active py-2 cursor-pointer hover:bg-base-200" id="to-home" title="Home">
            <i class="ri-home-2-line" ></i>
        </div>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="Skills" id="to-skills">
            <i class="ri-code-s-slash-line"></i>    
        </div>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="Projects" id="to-projects">
            <i class="ri-profile-line"></i>
        </div>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="Github" id="to-github">
            <i class="ri-github-line"></i>
        </div>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="Contact" id="to-contact">
            <i class="ri-mail-line"></i>
        </div>
    </top>
    <bottom>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="About" id="to-about">
            <i class="ri-account-circle-line"></i>
        </div>
        <div class="py-2 cursor-pointer hover:bg-base-200" title="Themes" id="to-themes">
            <i class="ri-equalizer-3-line"></i>
        </div>
    </bottom>
</nav>