/*------------ || appear || ------------*/
@keyframes appear{
    from{   
            opacity:0;
        }
    to{ 
            opacity:1;
        }
}
/*------------ || slide-ups && slide-downs || ------------*/
@keyframes full-slide-up{
    from{   
            opacity:0;
            transform:translateY(100%);}
    to{ 
            opacity:1;
            transform:translateY(0);
        }
}
@keyframes quarter-slide-up{
    from{   
            opacity:0;
            transform:translateY(25%);}
    to{ 
            opacity:1;
            transform:translateY(0);
        }
}
@keyframes quarter-slide-down{
    from{   
            opacity:0;
            transform:translateY(-25%);}
    to{ 
            opacity:1;
            transform:translateY(0);
        }
}
/*------------ || swipes || ------------*/
@keyframes short-swipe-left{
    from{   
            opacity:0;
            transform:translateX(10%);}
    to{ 
            opacity:1;
            transform:translateX(0);
        }
}
@keyframes quarter-swipe-left{
    from{   
            opacity:0;
            transform:translateX(25%);}
    to{ 
            opacity:1;
            transform:translateX(0);
        }
}
@keyframes quarter-swipe-right{
    from{   
            opacity:0;
            transform:translateX(-25%);}
    to{ 
            opacity:1;
            transform:translateX(0);
        }
}
@keyframes short-swipe-right{
    from{   
            opacity:0;
            transform:translateX(-10%);}
    to{ 
            opacity:1;
            transform:translateX(0);
        }
}
/*------------ || animations || ------------*/
/*------------ || home || ------------*/
#home{
    animation:appear 1s;
}
.profile-picture{
    animation:quarter-swipe-right 1.3s;
}
.salutation{
    animation:quarter-swipe-left 1.5s;
}
.salutation-2{
    animation:quarter-swipe-left 1.8s;
}
.salutation-3{
    animation:quarter-swipe-left 2s;
}
.my-networks{
    animation:full-slide-up 2.2s;
}
/*------------ || sections || ------------*/
#skills{
    animation:short-swipe-right 1s;
}
#projects{
    animation:short-swipe-left 1s;
}
#github{
    animation:appear 1s;
}
#contact{
    animation:quarter-slide-up 1s;
}
#about{
    animation:appear 1s;
}
#themes{
    animation:quarter-slide-down 1s;
}