<div class="join join-vertical">
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="💧Aqua"
    value="aqua" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="🌅Synthwave"
    value="synthwave" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="🕳️Abyss"
    value="abyss" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="🎃Halloween"
    value="halloween" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="🌲Forest"
    value="forest" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="☕Coffee"
    value="coffee" />
  <input
    type="radio"
    name="theme-buttons"
    class="btn theme-controller join-item"
    aria-label="💼Business"
    value="business" />
</div>